<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @ticket.customer %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @ticket.created_by %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @ticket.priority %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
